/*
    color: rgba(242, 208, 158, 0.743);

      font-family: barlow;
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
*/
body{
    background: url(image/background_6_16x9.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: BarlowSemiCondensed,Helvetica,Arial,sans-serif;
    background-attachment: fixed;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: #252526;
    display: flex;
    position: fixed;
    z-index: -5;
    
}
.navimg{
width: 15%;
height: 100%;

display: flex;
justify-content: center;
align-items: center;
}
.navimg h1{
    color: rgba(242, 208, 158, 0.743);
    font-size: 28px;
    margin: 0;
    font-weight: bold;
}
.navlist{
width: 75%;
height: 100%;

}
.navlist ul{
margin: 0px;
padding: 0px;
height: 100%;

}
.navlist ul li{
    display: inline-block;
height: 100%;
color: white;
box-sizing: border-box;
padding-top: 33px;
font-size: 11px;
margin-left: 20px;
letter-spacing: 1px;

}
.navlist ul li:hover{
    color: rgba(242, 208, 158, 0.743);
}
.navcontact{
width:10% ;
height: 100%;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
color: rgba(242, 208, 158, 0.743);
}
.navcontact p{
    margin: 0;
    padding: 0;

}



.homebox1{
    width: 100%;
    height: 100vh;
    
  
}
/*
hbsb1--homeboxsub1 -1sub div
*/
.homeboxsub1{
    height: 165px;
    width: 585px;
    margin-left: 110px;
   position: fixed;
    margin-top: 115px;
    display: flex;
    background: url(image/relentless-moves_3.svg);
    z-index: -5;
}
.hbs1{
    width: 10%;
    height: 165px;
    padding-bottom: 25px;
   
    box-sizing: border-box;
    font-size: 15px;
    letter-spacing: 1px;
}
.hbs1 p{
    color:#7F8285;
    writing-mode: vertical-rl;
    transform: rotate(180deg);

}
.hbs1 sup{
    vertical-align: baseline;
    font-size: 10px;
}
.hbs2{
    color: white;
    font-size: 50px;
    letter-spacing: 4px;
    font-family: barlow;
    padding: 0;
    line-height: 70px;
    margin: 10px;
    margin-top: -22px;

}
.hbs2 h1 {
    color: white;
    font-size: 50px;
    letter-spacing: 4px;
    font-family: BarlowSemiCondensed-SemiBold;
}
.hbs3{
width: 30%;
height: 165px;

}
.searchbox{
    width: 100%;
    height: 150px;
    
   position: fixed;
    margin-top: 455px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: -5;
}
.blackbar{
    background-color: rgba(0, 0, 0, 0.65);
    height: 30px;
    width: 810px;
    margin-top: -50px;
}
.searchbar{
width: 810px;
height: 100px;

display: flex;
}
.searchloc{
    background: white;
    width: 5%;
    height:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(242, 208, 158, 0.743);
    font-size: 13px;
}
.searcharea{
    background-color: red;
    width: 75%;
    height:50% ;
}
.searcharea input{
    width: 100%;
    height: 100%;
    background-color: white;
   border: 0;
    font-size: 14px;
    
}

.searchc21{
background-color: white;
    width: 20%;
    height:50% ;
    display: flex;
justify-content: center;
align-items: center;
border-left: rgba(252, 226, 98, 0.709) solid 1px;
}
.searchc21 input{
    background-color: #C9BB9B ;
    height: 25px;
    width: 75%;
    border: 0;
    font-size: 10px;
    letter-spacing: 1px;

}
.searchc21 input:hover{
background-color: #BDAF87;
}
.blackbar p{
    color: white;
    font-size: 10px;
    text-decoration: underline;
    float:right;
    padding-right: 10px;
}
.firstcontainer{
    width: 100%;
    height: 930px;
    
    z-index: 10;
    display: flex;
}
.firstsub1{
background:url(image/tabbed-BG.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 930px;
width: 930px;
display: flex;
justify-content: center;
align-items: center;
}
.firstsub2{
background:url(image/agent-walking.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 930px;
width: 510px;
}
.subcontent{

    width: 500px;
    height:600px;
display: flex;
flex-direction: column;

}
.sub1{

height: 300px;
width:500px ;
text-align: center;
}
.sub1 h1{
    font-family: 'barlow';
    font-size: 34px;
    color: #38383a;
    letter-spacing: 8px;
}
.sub1 h2{
    font-family: barlow;
    letter-spacing: 2px;
    color: #5f5544;
    font-size: 16px;
}
.sub1 p{
    font-family: barlow;
    font-size: 12px;
    color: #38383a;
    line-height: 20px;
    word-break: break-word;

}
.sub2{

    height: 300px;
    width:500px ;
}
.sub2 h1{
    color: #38383a;
    font-size: 25px;
    font-family: barlow;
    font-weight: bolder;

}
.sub2 p{
    font-size: 12px;
    font-family: barlow;
    color: #38383a;
    line-height: 15px;
}
#first{
    margin-left: 48px;
    width:452px;
    height: 146px;

    border-left: #847252 solid 2px;
    padding-left: 10px;
}
.sub2 input{
    background: white;
    border: #847252 solid 1px;
    width: 65px;
    height: 30px;
    font-family: 'barlow';
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bolder;
    color: #847252;
    transform: translate(350px, -90px);

}
.sub2 input:hover{
   background-color:#847252;
   color: white;
}
#second{
    margin-left: 48px;
    border-left: #847252 solid 2px;
    padding-left: 10px;
}
#third{
    margin-left: 48px;
    border-left: #847252 solid 2px;
    padding-left: 10px;
}
.secondcontainer{
    width: 100%;
    height: 640px;
    background: url(image/Screenshot\ 2022-06-02\ at\ 11.15.45\ AM.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.secondsub{
    width: 600px;
    height: 150px;
  
    margin-top: 137px;
    margin-left: 140px;
    position: absolute;
}
.secondsub h1{
    color: white;
    font-family: barlow;
    font-size: 50px;
    padding: 0;
    margin: 0;
    z-index: 5;
    position: relative;
}
.secondsub h1:nth-child(3)
{
    margin-top: -27px;
    margin-left: 29px;
}
.secsub{
    background:url(image/Screenshot\ 2022-06-02\ at\ 6.57.54\ PM.png);
  background-position: center;
  background-size: 600px 130px;
  background-repeat: no-repeat;
    width:600px;
    height:100px;
    position: absolute;
    z-index: 0;
    margin-left:29px ;
    margin-top: 65px;
}
.secondsub p{
    color: white;
    position: absolute;
    font-size: 14px;
    font-family: 'barlow';
    padding-left: 32px;
}
.secondsub input{
    margin-top: 80px;
    margin-left: 529px;
    background: white;
    color: #5f5544;
    width: 100px;
    border: 0;
    height: 30px;
    font-size: 12px;
    font-family: 'barlow';
    letter-spacing: 1px;
}
.secondsub input:hover{
    background: #38383a;
    color:white ;
}
.thirdcontainer{
    width: 100%;
    height: 1000px;
    background-color: white;
    
}
.thirdbackground{
    width: 100%;
    height: 100%;
    background: url(image/bg-seal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.thirdsub1{
    width: 1140px;
    height: 250px;
    
    margin-top: 80px;
    text-align: center;

}
.thirdsub1 h3{
    font-size: 12px;
    font-family: 'barlow';
    letter-spacing: 2px;
    color: #5f5544

}
.thirdsub1 h2{

    font-size: 16px;
    font-family: 'barlow';
    letter-spacing: 3px;
    color: #5f5544;
}
.thirdsub1 h1{
    font-size: 34px;
    font-family: 'barlow';
    letter-spacing: 8px;
    color: #38383a;
}
.thirdsub1 p{
    font-size: 15px;
    font-family: 'barlow';
    color: #38383a;  
}
.thirdsub2{
    width: 1140px;
    height: 420px;
   
    display: flex;
}
.thirdboxes{
    
    height: 100%;
    width: 285px;
}
#box1{
    background: url(image/c21global.jpg);
    width: 265px;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 25px;
}
#box2{
    background: url(image/c21espanol.jpg);
    width: 265px;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 25px;
}
#box3{
    background: url(image/c21commercial.jpg);
    width: 265px;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 25px;
}
#box4{
    background: url(image/c21luxury.jpg);
    width: 265px;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 25px;
}
.thirdboxes h1{
    font-size: 22px;
    font-family: 'barlow';
    color: #38383a;
    margin: 0px;
    padding: 0px;
}
.thirdboxes p{
    font-size: 15px;
    font-family: 'barlow';
    color: #38383a;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}
.thirdboxes input{
    margin-top: 20px;
    font-family: barlow;
    font-size: 11px;
    letter-spacing: 1px;
    color: #38383a;
    background: white;
    border: #38383a solid 1px;
    height: 30px;
    
    text-transform: uppercase;

}
.thirdboxes input:hover{
    color: white;
    background: #38383a;
}
footer{
    width: 100%;
    height: 800px;
    background-color: #252526;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.c21logo{
    position: absolute;
    width: 140px;
    height: 140px;
    background: url(image/c21logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -72px;
}



.footersub1{

height: 80%;
width:1100px;
display: flex;
align-items: center;
margin-top: 35px;
}
.subleft{

    height: 480px;
    width: 30%;
}
.leftsub1{
    width: 260px;
    height: 400px;
    background-color:#847252 ;

     margin: 0px 15px 0px 15px;
}
.leftsub1 ul{
padding-top: 40px;
}
.leftsub1 ul li{
    list-style: none;
   
    width: 160px;
    height: 35px;
    font-family: 'barlow';
    font-size: 15px;
    color: white;
}
ul li h1{
    margin: 0px;
    padding: 0px;
    font-size: 17px;
    font-weight: bolder;
    margin-top:10px ;
}
.fa-instagram{
    color:#252526;
    font-size: 21px;
}
.fa-facebook-square{
    color:#252526;
    font-size: 21px;
}
.fa-twitter{
    color:#252526;
    font-size: 21px;
}
.fa-youtube{
    color:#252526;
    font-size: 21px;
}
.subright{

    height: 480px;
    width: 70%;
    display: flex;
}
.rightsub1{
width: 40%;
height: 100%;

display: flex;
flex-direction: column;
}
.rightsubbox{
    width: 100%;
 
  height: 33.3%;
}
.rightsub1 h1{
    font-size: 15px;
    padding-left: 0px;
    color: #beaf87;

}
.rightsub1 ul{
    padding: 0;

}
.rightsub1 ul li{
    list-style: inside;
    padding: 0px;
    font-size: 13px;
    margin: 0px;
    color: white;
    line-height: 18px;
    font-weight: lighter;
}
.rightsub2{

width: 60%;
height: 100%;

}
.rightsub2part1{


    height: 50%;
    width: 100%;
}
.rightsub2part1 ul{
margin: 0px;
padding: 0px;
}
.rightsub2part1 h1{
margin: 0px;
font-size: 15px;
padding-left: 0px;
color: #beaf87;
padding-top: 15px;
}
.rightsub2part1 p{
color: #847252;
font-family: barlow;
font-size: 12px;
}
.rightsub2part1 ul li{
    list-style: lower-roman;
    padding: 0px;
    font-size: 11px;
    margin: 0px;
    color: white;
    line-height: 28px;
    font-weight: lighter;
    display: inline-block;
    width: 150px;

}


.footersub2{
    height: 20%;
    width: 1140px;
    background: url(/image/21.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60px;
    display: flex;
}
.footersubbox1{
width:30%;
height: 100%;

}
.footersubbox2{

    width:70%;
height: 100%;


}
.fsubbutton{

    width: 230px;
    height: 30px;
    color: #beaf87;
    background-color: #252526;
    border: #beaf87 solid 1px;
    font-size: 11px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 8px;
    margin-left: 35px;
}
.fsubbutton:hover{
    background-color: #beaf87;
    color: white;
}
.fsubcen{
    background: url(/image/Century21-logo.svg);
    width: 200px;
    height: 60px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 25px;
    margin-left: 35px;

}
.footersubbox2 h1{

    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 17px;
    font-family: 'barlow';
  text-decoration: underline;
}
.footersubbox2 p{
color: #a7a7a7;
font-size: 12px;
line-height: 20px;
}
